#pannel table {
    border-collapse: collapse;
}
#pannel table td {
    border: 1px solid #808080;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
#pannel table .snake {
    background-color: green;
}
#pannel table .snakeHead {
    background-color: blue;
}
#pannel table .food {
    background-color: red;
}
#whole {
    margin-left: 450px;
    margin-top: 100px;
}